div {
  width: rgba(255, 0, 0, 0.5);px;
  padding: 23px;
  border: 10px solid purple;
  margin: 34px;
}
h1 {
  text-align: center;
  color: green;
}
p {
  text-align: justify;
  text-indent: 25px;
  direction: ltr;
}
