div {
  width: rgba(255, 0, 0, 0.5);px;
  padding: 23px;
  border: 10px solid blue;
  margin: 34px;
}
body {
  background-image: url("..Images/Triangles.jpg");
  font-style: italic;
  text-align: center;
}
